<html>
  <head>
    {% stylesheets 'plugins/fancy/css/fancy_red.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
  </head>

  <body>
    <a href="{{ path('home') }}">Home</a>
  </body>
</html>
