<html>
  <head>
    <title>Silex Integration</title>
  </head>

  <body>
    <a href="{{ path('home') }}">Home</a>
    <a href="{{ path('refresh-web-assets') }}">Refresh Web Assets</a>
    <a href="{{ path('process-templates') }}">Process Templates</a>
    <a href="{{ path('basic') }}">Basic</a>
  </body>
</html>
